<!doctype html>
<html lang="en">
<title>{{.Title}}</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
<meta name="mobile-web-app-capable" content="yes">

<link rel="shortcut icon" sizes="196x196" href="/assets/iconhighres.png">
<link rel="shortcut icon" sizes="128x128" href="/assets/icon.png">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="/assets/css/bootstrap.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-grid.css"/>
<link rel="stylesheet" href="/assets/css/bootstrap-reboot.css"/>

<body>
{{if .JobName -}}
    <p>Job sent to scanner: {{.JobName}}</p>
{{- end}}
<section>
    <h2>Create new job</h2>
    <form id="print" action="/job" method="post">
        <label for="jobName">Job name:</label>
        <input id="jobName" name="jobName">
        <input type="submit" value="Create">
    </form>
</section>
{{if .PreviousJobs -}}
    <section>
        <h2>Select previous job</h2>
        <p>Previous jobs:</p>
        <ul>
            {{range $job := .PreviousJobs }}
                <li><a href="/job?jobName={{$job}}">{{$job}}</a></li>
            {{- end}}
        </ul>
    </section>
{{- end}}
</body>
</html>
