<!doctype html>
<html lang="en">
{{ template "header" }}
<body>

{{ template "nav" . }}
<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Scanpi</h1>
        <hr class="my-4">
        <div class="form-group row">
            <label for="scannerName">Device:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="scannerName" placeholder="Readonly input here..." readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="scannerStatus">Status:</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" id="scannerStatus" placeholder="Readonly input here..."
                       readonly>
            </div>
            {{/*        <p class="lead"><b>Scanner:</b> <span id="scannerName">Unknown</span></p>*/}}
            {{/*        <p class="lead">Status: <span id="scannerStatus">Unknown</span></p>*/}}
        </div>
    </div>
</div>
{{ template "javascript" }}

<script type="application/javascript">
    $(document).ready(function () {
        console.log("document loaded.");
        $('#scannerName').attr('placeholder', "Loading...");
        $('#scannerStatus').attr('placeholder', "Loading...");

        $.ajax({
            type: "GET",
            headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
            },
            url: "/scanner",
            error: function (xhr, status, error) {
                console.log("error: " + error.message + " status: " + status + "\nxhr: " + xhr);
            },
            success: function (data, status, xhr) {
                $('#scannerName').attr('placeholder', data.name);
                $('#scannerStatus').attr('placeholder', data.status);
            }
        });
    });
</script>
</body>
</html>
