<!doctype html>
<html lang="en">
{{ template "header" }}
<body>

{{ template "nav" . }}
<div class="container">
    <h2>{{.JobName}}</h2>

    <section>
        <form id="print" action="/scan" method="post">
            <input type="hidden" name="jobName" value="{{.JobName}}"/>
            <input class="btn btn-primary btn-lg btn-block" type="submit" value="Start Scanning">
        </form>
    </section>
    <br/>

    <div class="row">
        <div class="col-sm-6">
            {{if .Scans -}}
                {{ $jobName := .JobName }}
                {{range $scan := .Scans }}
                    <div class="card">
                        <img class="card-img-top" src="/preview?jobName={{$jobName}}&scan={{$scan}}" alt="{{$scan}}">
                        <div class="card-footer">
                            <small class="text-muted">
                                <a href="/scan?jobName={{$jobName}}&scan={{$scan}}">Download</a>
                            </small>
                        </div>
                    </div>
                {{- end}}
            {{- end}}
        </div>
    </div>

    {{ if .JobStarted }}
        <div id="toast" class="toast" style="position: absolute; top: 0; right: 0;" role="alert" aria-live="assertive"
             aria-atomic="true">
            <div class="toast-header">
                <strong class="mr-auto">Scanner</strong>
            </div>
            <div class="toast-body">
                Scanning job started
            </div>
        </div>
    {{ end }}

</div>

{{ template "javascript" }}

<script>
    $(document).ready(function () {
        {{ if .JobStarted }}
        $("#toast").toast({
                animation: true,
                delay: 3000
            }
        );
        $("#toast").toast('show');
        {{ end }}
    });
</script>
</body>
</html>
