<!doctype html>
<html lang="en">
{{ template "header" }}
<body>

{{ template "navigation" }}

<section>
    <h2>Job: {{.JobName}}</h2>
    <form id="print" action="/scan" method="post">
        <input type="hidden" name="jobName" value="{{.JobName}}"/>
        <input class="btn btn-primary" type="submit" value="Scan">
    </form>
</section>
<br/>

{{if .Scans -}}
    <ul class="list-group">
        <li class="list-group-item disabled" aria-disabled="true">Previous scans</li>
        {{range $scan := .Scans }}
            <li class="list-group-item">{{$scan}}</li>
        {{- end}}
    </ul>
{{- end}}
{{ template "javascript" }}
</body>
</html>
