<!doctype html>
<html lang="en">
{{ template "header" }}
<body>

{{ template "nav" . }}

<div class="container">
    <div class="form-row">
        <div class="form-group col-md-6">
            <h3>Create new job</h3>
            <form action="/job" method="post">
                <div class="form-group">
                    <label for="jobName">Job name</label>
                    <input class="form-control" id="jobName" name="jobName" autofocus required>
                </div>
                <button type="submit" class="btn btn-outline-primary">Create</button>
            </form>
        </div>
        <div class="form-group col-md-6">
            {{if .PreviousJobs -}}
                <h3>Select job</h3>
                <div class="list-group">
                    {{range $job := .PreviousJobs }}
                        <a href="/job?jobName={{$job}}" class="list-group-item list-group-item-action">{{$job}}</a>
                    {{- end}}
                </div>
            {{ else }}
                <p>No previous jobs found.</p>
            {{- end}}
        </div>
    </div>
</div>
{{ template "javascript" }}
</body>
</html>
